box1{
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: #9b1717;
  line-height: 1.6;
}

box2 {
  background: #1c8059;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(114, 11, 117, 0.897);
}

box3 {
  margin-bottom: 10px;
  padding-left: 5px;
}

ul li::marker, ol li::marker {
  color: #004aad;
  font-weight: bold;
}

dl {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

dt {
  font-weight: bold;
  color: #004aad;
  margin-top: 10px;
}

dd {
  margin-left: 20px;
  margin-bottom: 10px;
}
h1, h2 {
  color: #004aad;
}
ul, ol, dl {
  margin-left: 40px;
}
.highlight {
  background-color: #e8f0fe;
  padding: 10px;
  border-left: 4px solid #004aad;
}